@font-face {
    font-family: 'Muli';
    src: url('../fonts/Muli-ExtraBold.eot');
    src: local('Muli ExtraBold'), local('Muli-ExtraBold'), url('../fonts/Muli-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Muli-ExtraBold.woff2') format('woff2'), url('../fonts/Muli-ExtraBold.woff') format('woff'), url('../fonts/Muli-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muli';
    src: url('../fonts/Muli-BoldItalic.eot');
    src: local('Muli Bold Italic'), local('Muli-BoldItalic'), url('../fonts/Muli-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Muli-BoldItalic.woff2') format('woff2'), url('../fonts/Muli-BoldItalic.woff') format('woff'), url('../fonts/Muli-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Muli';
    src: url('../fonts/Muli-Bold.eot');
    src: local('Muli Bold'), local('Muli-Bold'), url('../fonts/Muli-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Muli-Bold.woff2') format('woff2'), url('../fonts/Muli-Bold.woff') format('woff'), url('../fonts/Muli-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muli';
    src: url('../fonts/Muli-ExtraLight.eot');
    src: local('Muli ExtraLight'), local('Muli-ExtraLight'), url('../fonts/Muli-ExtraLight.eot?#iefix') format('embedded-opentype'), url('../fonts/Muli-ExtraLight.woff2') format('woff2'), url('../fonts/Muli-ExtraLight.woff') format('woff'), url('../fonts/Muli-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muli';
    src: url('../fonts/Muli-BlackItalic.eot');
    src: local('Muli Black Italic'), local('Muli-BlackItalic'), url('../fonts/Muli-BlackItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Muli-BlackItalic.woff2') format('woff2'), url('../fonts/Muli-BlackItalic.woff') format('woff'), url('../fonts/Muli-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Muli';
    src: url('../fonts/Muli-ExtraBoldItalic.eot');
    src: local('Muli ExtraBold Italic'), local('Muli-ExtraBoldItalic'), url('../fonts/Muli-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Muli-ExtraBoldItalic.woff2') format('woff2'), url('../fonts/Muli-ExtraBoldItalic.woff') format('woff'), url('../fonts/Muli-ExtraBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Muli';
    src: url('../fonts/Muli-Black.eot');
    src: local('Muli Black'), local('Muli-Black'), url('../fonts/Muli-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/Muli-Black.woff2') format('woff2'), url('../fonts/Muli-Black.woff') format('woff'), url('../fonts/Muli-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muli';
    src: url('../fonts/Muli-Semi-BoldItalic.eot');
    src: local('Muli Semi-Bold Italic'), local('Muli-Semi-BoldItalic'), url('../fonts/Muli-Semi-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Muli-Semi-BoldItalic.woff2') format('woff2'), url('../fonts/Muli-Semi-BoldItalic.woff') format('woff'), url('../fonts/Muli-Semi-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Muli';
    src: url('../fonts/Muli-SemiBold.eot');
    src: local('Muli SemiBold'), local('Muli-SemiBold'), url('../fonts/Muli-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Muli-SemiBold.woff2') format('woff2'), url('../fonts/Muli-SemiBold.woff') format('woff'), url('../fonts/Muli-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muli';
    src: url('../fonts/Muli-Italic.eot');
    src: local('Muli Italic'), local('Muli-Italic'), url('../fonts/Muli-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/Muli-Italic.woff2') format('woff2'), url('../fonts/Muli-Italic.woff') format('woff'), url('../fonts/Muli-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Muli';
    src: url('../fonts/Muli-Italic_1.eot');
    src: local('Muli Italic'), local('Muli-Italic'), url('../fonts/Muli-Italic_1.eot?#iefix') format('embedded-opentype'), url('../fonts/Muli-Italic_1.woff2') format('woff2'), url('../fonts/Muli-Italic_1.woff') format('woff'), url('../fonts/Muli-Italic_1.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Muli';
    src: url('../fonts/Muli-Regular.eot');
    src: local('Muli Regular'), local('Muli-Regular'), url('../fonts/Muli-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Muli-Regular.woff2') format('woff2'), url('../fonts/Muli-Regular.woff') format('woff'), url('../fonts/Muli-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muli';
    src: url('../fonts/Muli-ExtraLightItalic.eot');
    src: local('Muli ExtraLight Italic'), local('Muli-ExtraLightItalic'), url('../fonts/Muli-ExtraLightItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Muli-ExtraLightItalic.woff2') format('woff2'), url('../fonts/Muli-ExtraLightItalic.woff') format('woff'), url('../fonts/Muli-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Muli';
    src: url('../fonts/Muli-Regular_1.eot');
    src: local('Muli Regular'), local('Muli-Regular'), url('../fonts/Muli-Regular_1.eot?#iefix') format('embedded-opentype'), url('../fonts/Muli-Regular_1.woff2') format('woff2'), url('../fonts/Muli-Regular_1.woff') format('woff'), url('../fonts/Muli-Regular_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muli';
    src: url('../fonts/Muli-Light.eot');
    src: local('Muli Light'), local('Muli-Light'), url('../fonts/Muli-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Muli-Light.woff2') format('woff2'), url('../fonts/Muli-Light.woff') format('woff'), url('../fonts/Muli-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muli';
    src: url('../fonts/Muli-LightItalic.eot');
    src: local('Muli Light Italic'), local('Muli-LightItalic'), url('../fonts/Muli-LightItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Muli-LightItalic.woff2') format('woff2'), url('../fonts/Muli-LightItalic.woff') format('woff'), url('../fonts/Muli-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Muli';
    src: url('../fonts/Muli-SemiBoldItalic.eot');
    src: local('Muli SemiBold Italic'), local('Muli-SemiBoldItalic'), url('../fonts/Muli-SemiBoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Muli-SemiBoldItalic.woff2') format('woff2'), url('../fonts/Muli-SemiBoldItalic.woff') format('woff'), url('../fonts/Muli-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Muli';
    src: url('../fonts/Muli.eot');
    src: local('Muli'), url('../fonts/Muli.eot?#iefix') format('embedded-opentype'), url('../fonts/Muli.woff2') format('woff2'), url('../fonts/Muli.woff') format('woff'), url('../fonts/Muli.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/**General css**/

*,
 ::after,
 ::before {
    box-sizing: border-box;
}

body {
    font-family: 'Muli';
    padding: 0;
    margin: 0;
    color: #3A3A3A;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
}

button,
a {
    transition: all 0.3s ease-out !important;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
}

section {
    padding-top: 100px;
    padding-bottom: 100px;
}

h1,
.h1 {
    font-size: 48px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    color: #000000;
}

h2,
.h2 {
    font-size: 36px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.3px;
    color: #000000;
}

h3,
.h3 {
    font-size: 24px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #000000;
}

h4,
.h4 {
    font-size: 22px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

h5,
.h5 {
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

h6,
.h6 {
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

p,
.pera {
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6,
h1.dark,
h2.dark,
h3.dark,
h4.dark,
h5.dark,
h6.dark {
    color: #ffffff;
}

.dark p,
p.dark {
    color: #CACACA;
}

.sub-title {
    font-size: 14px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.86;
    letter-spacing: 0.3px;
    text-align: center;
    color: #2852c1;
    border-radius: 5px;
    background-color: #eaebf3;
    padding: 9px 16px;
    display: inline-block;
    margin-bottom: 16px;
}

.sub-title.dark {
    color: #87A8FE;
    background-color: #151D4B;
}

.section-title {
    margin-bottom: 20px;
}


/*color start*/

.primary-bg {
    background: #131639 !important;
    background-color: #131639 !important;
}

.dark-bg {
    background: #0a0b1d !important;
    background-color: #0a0b1d !important;
}

.light-grey-bg {
    background: #f9f8f9 !important;
    background-color: #f9f8f9 !important;
}

.light-blue-bg {
    background: #f3f8ff !important;
    background-color: #f3f8ff !important;
}

.color-white {
    color: #fff !important;
}


/*color end*/

.bdr {
    border: 1px solid rgba(255, 255, 255, 0.1);
}


/* btn css start */

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%);
}

.btn {
    font-weight: 600;
    font-size: 18px;
    line-height: normal;
    border: none;
    padding: 18px 38px;
    border-radius: 4px;
    color: #fff;
}

.btn-primary {
    background-color: #2852C1;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #131639;
}

.btn-secondry {
    background-color: transparent;
    border: 1px solid #fff;
}

.btn-secondry:hover,
.btn-secondry:focus {
    background-color: #2852C1;
    border-color: #2852C1;
}

.btn-white {
    background-color: #fff;
    color: #131639;
}

.btn-white:hover,
.btn-white:focus {
    background-color: #2852C1;
    color: #fff;
}


/* btn css end */


/* header css start */

.navbar {
    padding: 26px 0;
}

.navbar .navbar-brand {
    padding: 0;
}

.navbar .navbar-nav .nav-item {
    margin-left: 34px;
}

.navbar .navbar-nav .nav-item:last-child {
    margin-left: 44px;
}

.navbar .navbar-nav .nav-item .nav-link {
    padding: 6px 10px;
    font-weight: normal;
    font-size: 18px;
    line-height: normal;
    color: #CACACA;
    background-color: transparent;
    border-radius: 4px;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
}

.navbar .navbar-nav .nav-item .nav-link.active {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
}

.navbar .navbar-nav .nav-item .btn {
    padding: 14px 24px;
}

.navbar .navbar-nav .nav-item .btn:hover,
.navbar .navbar-nav .nav-item .btn:focus {
    color: #fff;
    background-color: #2852C1;
}

.navbar .mobile-btn {
    display: none;
}


/* header css end */


/* solution-section css start */

.solution-content {
    margin-bottom: 80px;
}

.solution-content h6 {
    padding: 9px;
    border-radius: 5px;
}

.solution-content h2 {
    color: #1B1642;
    margin-bottom: 20px;
}

.solution-content p {
    width: 100%;
    max-width: 532px;
    margin: 0 auto;
}

.solution-box {
    padding: 20px 28px 32px 28px;
    background: #ffff;
    border-radius: 6px;
    transition: all 0.5s ease-in-out;
    height: 100%;
}

.solution-box .solution-box-content h5 {
    width: 100%;
    max-width: 220px;
    margin-bottom: 10px;
    font-weight: bold;
    font-style: normal;
}

.solution-box:hover {
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.0702758);
}

.solution-icon {
    overflow: hidden;
    margin-bottom: 10px;
}

.solution-box .solution-icon span {
    font-size: 70px;
    font-weight: 800;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #131639;
    opacity: 0.1;
    text-align: center;
}

.solution-box-content h6 {
    margin-bottom: 11px;
}

.solution-box-content p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 0;
}

.solution-section .reasons-block {
    margin-top: 48px;
    margin-bottom: 40px;
}

.solution-section .reasons-block>div {
    margin-bottom: 30px;
}


/* solution-section css end */


/* frequently section start */

.frequently-sec .faq-rows {
    margin-top: 50px;
}

.frequently-sec .solution-content h5 {
    color: #FFB13B;
}

.frequently-sec .solution-content h2 {
    color: #FBFBFB;
}

.frequently-content {
    background: transparent;
    border-bottom: 1px solid #313450;
    margin-bottom: 40px;
    padding-bottom: 40px;
    transition: all 0.3s ease-in-out;
}

.frequently-sec .faq-rows>div:last-child>.frequently-content {
    margin-bottom: 0;
}

.frequently-ques {
    position: relative;
    cursor: pointer;
    transition: 0.4s;
    padding-right: 40px;
    color: #ffff;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    margin-bottom: 0;
}

.frequently-ans {
    color: #CACACA;
    margin-top: 20px;
    margin-bottom: 0;
}

.frequently-ques:after {
    content: url("../images/icon-plus.svg");
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.2s ease-out;
}

.frequently-ques.active:after {
    transform: rotate(43deg);
}


/* frequently section end */


/*About Start*/

.about-us {
    background-color: #f3f8ff;
}

.about-head {
    margin-bottom: 55px;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #FFFFFF;
    overflow: hidden;
    border-radius: 12px;
    margin-bottom: 31px;
}

.about-banner {
    flex: 0 0 46%;
    max-width: 46%;
    overflow: hidden;
}

.about-banner img {
    width: 100%;
}

.about-banner-text {
    padding: 40px 35px;
    flex: 0 0 54%;
    max-width: 54%;
}

.about-banner-text h2 {
    margin-bottom: 28px;
}

.about-banner-text p {
    margin-bottom: 20px;
}

.counter {
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
}

.counter-box {
    max-width: 25%;
    flex: 0 0 25%;
    padding: 0 15px;
    text-align: center;
}

.counter-box h2 {
    color: #2852c1;
}

.counter-content {
    padding: 25px;
    border-radius: 6px;
    background: #FFFFFF;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.03);
}

.counter-content h5 {
    margin-bottom: 0;
}


/*About End*/


/*/ swiper default /*/

.swiper-pagination {
    display: flex;
    align-items: center;
}

.swiper-pagination-bullet {
    border: 1px solid transparent;
    height: 20px;
    width: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 3px;
    background: transparent;
}

.swiper-pagination-bullet:after {
    content: '';
    position: relative;
    height: 8px;
    width: 8px;
    background: #afc5ff;
    border-radius: 10px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    border-color: #2852c1;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active:after {
    background: #2852c1;
}


/*

/ end swiper default /
*/


/*testimonials*/

.testimonials-head {
    margin-bottom: 20px;
}

.testimonials-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 40px 22px 0 22px;
}

.testimonials-img {
    position: relative;
}

.testimonials-img:after {
    content: '';
    position: absolute;
    left: -25px;
    top: -22px;
    height: 44px;
    width: 54px;
    background: url(../images/icon-qoute.svg);
    background-size: 54px 44px;
    background-repeat: no-repeat;
}

.testimonials-img img {
    width: 100%;
}

.testimonials-text {
    padding: 0 0 0 65px;
}

.testimonials-text>p:first-child {
    margin-bottom: 22px;
}

.testimonials-text h6 {
    margin-bottom: 4px;
}

.testimonials-text .position-text {
    margin: 4px 0 0;
    font-size: 16px;
    color: #909090;
    font-weight: 300;
}

.testimonials-slider .swiper-pagination {
    bottom: -60px;
    padding-left: 65px;
}

.testimonials-slider .swiper {
    padding-bottom: 60px;
}


/*end testimonials*/


/*/ Technologies Start /*/

.best-technologies {
    background-color: #f9f8f9;
}

.technology-head {
    margin-bottom: 55px;
}

.technologies-icon {
    display: flex;
    margin: 0 -12px;
    flex-wrap: wrap;
}

.icon-column {
    padding: 0 12px;
    max-width: 20%;
    flex: 0 0 20%;
    text-align: center;
}

.icon-box {
    padding: 10px;
    margin-bottom: 23px;
    background: #FFFFFF;
}

.icon-box img {
    max-width: 100%;
}


/*/ Technologies End /*/


/*hero-section start*/

.hero-section {
    height: 100vh;
    width: 100%;
    background-image: url(../images/thorus-1.svg), url(../images/thorus-2.svg), url(../images/helix.svg) !important;
    background-repeat: no-repeat !important;
    background-position: left 110px, right 80%, 90% 20% !important;
    position: relative;
    margin-bottom: 240px;
    padding-top: 180px;
    padding-top: 130px;
}

@keyframes mymove {
    0% {
        background-position: top left, right 80%, 90% 20% !important;
    }
    100% {
        background-position: 20% 10% !important;
    }
}

.hero-section .container {
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

.hero-section .hero-text-box h1 {
    color: #fff;
    margin-bottom: 30px;
}

.hero-section .hero-text-box h4 {
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: normal;
    text-align: center;
    color: #cacaca;
    max-width: 944px;
    margin: auto;
    margin-bottom: 44px;
}

.hero-floting-img {
    max-width: 1028px;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 60px;
    left: 0;
    right: 0;
    margin: auto;
    transform: translate(0px, 310px);
}

.hero-section .hero-text-box {
    padding-bottom: 200px;
}


/*hero-section end*/


/*why-us-section start*/

.why-us-section .btn {
    margin-top: 44px;
}

ul.list-icon li {
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: #3a3a3a;
    margin-bottom: 20px;
    padding-left: 30px;
    position: relative;
}

ul.list-icon li:before {
    content: url(../images/icon-check-blue.svg);
    position: absolute;
    left: 0px;
    top: 4px;
}


/*why-us-section end*/


/* features section css */

.features-sec {
    position: relative;
}

.features-sec>.row,
.features-sec>.col-lg-5 {
    position: unset;
}

.features-sec .features-heading {
    margin-bottom: 44px;
}

.features-heading h2 {
    max-width: 457px;
}

.features-sec .features-list li {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.features-sec .features-list li span {
    margin-left: 14px;
}

.features-sec .features-list li:last-child {
    margin-bottom: 50px;
}

.features-right-img {
    position: absolute;
    right: 0;
    object-fit: cover;
    top: 0;
    height: 100%;
}


/*Our Solutions start*/

ul.list-icon.row {
    padding-left: 12px;
}

.solutions-bages {
    margin: 10px 0;
    padding: 12px 28px 12px 28px;
    border-radius: 8px;
    background-color: rgba(72, 31, 160, 0.1);
    font-size: 18px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.27px;
    color: #481fa0;
    display: flex;
    align-items: center;
}

.solutions-bages .check-circle {
    width: 18px;
    height: 18px;
    background-color: #481fa0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-right: 12px;
}

.solutions-bages-row div:nth-child(2) .solutions-bages {
    background-color: rgba(31, 180, 240, 0.1);
    color: #1fb4f0;
}

.solutions-bages-row div:nth-child(2) .solutions-bages .check-circle {
    background-color: #1fb4f0;
}

.solutions-bages-row div:nth-child(3) .solutions-bages {
    background-color: rgba(255, 157, 6, 0.1);
    color: #c66912;
}

.solutions-bages-row div:nth-child(3) .solutions-bages .check-circle {
    background-color: #c66912;
}

.solutions-bages-row div:nth-child(4) .solutions-bages {
    background-color: rgba(31, 240, 199, 0.1);
    color: #0f8f76;
}

.solutions-bages-row div:nth-child(4) .solutions-bages .check-circle {
    background-color: #0f8f76;
}

.solutions-bages-row div:nth-child(5) .solutions-bages {
    background-color: rgba(241, 32, 156, 0.1);
    color: #f1209c;
}

.solutions-bages-row div:nth-child(5) .solutions-bages .check-circle {
    background-color: #f1209c;
}


/*Our Solutions end*/


/*portfolio section css start */

.portfolio-sec .swiper-pagination {
    justify-content: center;
}

.portfolio-sec .portfolio-content h2 {
    color: #fff;
    margin-bottom: 28px;
}

.portfolio-sec .portfolio-content p {
    color: #fff;
    margin-bottom: 20px;
    line-height: 1.44;
    font-weight: 300;
    max-width: 458px;
}

.portfolio-img {
    object-fit: cover;
}

.portfolio-sec .swiper-pagination-bullet.swiper-pagination-bullet-active:after {
    background: #fff;
}

.portfolio-sec .swiper-pagination-bullet.swiper-pagination-bullet-active {
    border-color: #fff;
}

.portfolio-sec .swiper {
    padding-bottom: 82px;
}


/* portfolio section css end */


/*/ contact-us section css start /*/

.contact-sec .contact-heading {
    margin-bottom: 62px;
}

.contact-sec .contact-heading h2 {
    color: #fff;
}

.contact-sec .contact-heading h4 {
    color: #cacaca;
}

.form-control {
    height: 60px;
    border-radius: 4px;
    border: 1px solid transparent;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.3px;
    margin-bottom: 30px;
    padding: 19px 30px 19px 30px;
    resize: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

.form-control:focus {
    border-color: #2852c1;
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

.form-control::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.3px;
    opacity: 0.3;
    color: #fff;
}

textarea.form-control {
    height: 140px !important;
}

select.form-control {
    background-image: url(../images/icon-angle-down.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 16px) center;
    padding-right: 45px;
}

.contact-sec .contact-right {
    margin-left: 40px;
}

.contact-sec .contact-right .contact-right-heading {
    margin-bottom: 56px;
}

.contact-sec .contact-right-heading h3 {
    color: #fff;
    margin-top: 0;
}

.contact-items li {
    position: relative;
    padding-left: 70px;
    padding-bottom: 38px;
}

.contact-items li::before {
    content: "";
    border-left: dashed 2px rgba(40, 82, 193, 0.5);
    position: absolute;
    top: 0;
    left: 19px;
    bottom: 0;
}

.contact-items li .count {
    position: absolute;
    border: none;
    background-color: #2852c1;
    border-radius: 50%;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #ffff;
}

.contact-items li:last-child {
    padding-bottom: 0;
}

.contact-items li:last-child:before {
    opacity: 0;
}

.contact-sec .contact-menu .contact-items li p {
    color: #cacaca;
    margin-bottom: 0;
}

.contact-sec .btn {
    padding: 18px 84px;
}


/*/ contact-us section css end /*/


/*/ footer css start /*/

.footer {
    padding: 30px 0;
}

.footer .copyright p {
    font-size: 16px;
    color: #cacaca;
    margin-bottom: 0;
}

.footer .copyright a {
    color: #cacaca;
    text-decoration: none;
}

.footer .social-media-icons-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer .social-media-icons-list a {
    display: inline-block;
    margin-right: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 4px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
}

.footer .social-media-icons-list a:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
}


/*/ footer css start /*/