@font-face {
  font-family: "Amaranth";
  src: local("Amaranth Bold"), local("Amaranth-Bold"),
    url("../fonts/Amaranth/Amaranth-Bold.woff") format("woff"),
    url("../fonts/Amaranth/Amaranth-Bold.ttf") format("truetype"),
    url("../fonts/Amaranth/Amaranth-Bold.svg") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Amaranth";
  src: local("Amaranth Regular"), local("Amaranth-Regular"),
    url("../fonts/Amaranth/Amaranth-Regular.woff") format("woff"),
    url("../fonts/Amaranth/Amaranth-Regular.ttf") format("truetype"),
    url("../fonts/Amaranth/Amaranth-Regular.svg#") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold"), local("OpenSans-Bold"),
    url("../fonts/OpenSans/OpenSans-Bold.woff") format("woff"),
    url("../fonts/OpenSans/OpenSans-Bold.ttf") format("truetype"),
    url("../fonts/OpenSans/OpenSans-Bold.svg") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Italic"), local("OpenSans-Italic"),
    url("../fonts/OpenSans/OpenSans-Italic.woff") format("woff"),
    url("../fonts/OpenSans/OpenSans-Italic.ttf") format("truetype"),
    url("../fonts/OpenSans/OpenSans-Italic.svg") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("../fonts/OpenSans/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype"),
    url("../fonts/OpenSans/OpenSans-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"),
    url("../fonts/OpenSans/OpenSans-SemiBold.woff") format("woff"),
    url("../fonts/OpenSans/OpenSans-SemiBold.ttf") format("truetype"),
    url("../fonts/OpenSans/OpenSans-SemiBold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
